#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

#main-page{
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  
}

#nav { 
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1000;
}